- name: Ensure basic packages are installed
  ansible.builtin.apt:
    name:
      - curl
      - git
      - nano
      - htop
      - gnome-browser-connector
      - jq
    state: present
    update_cache: yes

- name: Configure passwordless sudo for the user
  ansible.builtin.copy:
    content: "{{ ansible_user_id }} ALL=(ALL) NOPASSWD:ALL"
    dest: "/etc/sudoers.d/{{ ansible_user_id }}"
    mode: '0440'
    validate: /usr/sbin/visudo -cf %s
